<div class="container color-dark">
  <div class="col">
    <p>Új cél hozzáadása a Bakancslitámhoz</p>
  </div>
  <div class="col">
    <p>Bakancslitám</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Ide írd a Bakancslista célodat, amit mindenképpen el szeretnél még érni az életedben!</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Életcél: ...">
      <input type="button" class="btn" value="Cél hozzáadása">
    </form>
  </div>
  <div class="col">
    <p class="life-container">
      Hegymászás
    </p>
  </div>
</div>
